*.DS_Store
*.sw?
.#*
*#
*~
.classpath
.project
.settings
bin
build
target
dependency-reduced-pom.xml
*.sublime-*
/scratch
.gradle
README.html
*.iml
.idea
/.vs/gs-rest-service/FileContentIndex/6406b3b5-cc6a-434a-a17e-002fab1f718c.vsidx
/.vs
